nav {
    background-color: #372a7c;
}

.nav-link {
    color: #ffffff;
}

/*.nav-link:active {*/
    /*border-color: #6495ed;*/
    /*border-style: solid;*/
/*}*/

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link:hover {
    border-bottom: none;
    color: #6495ed;
    border-color: #6495ed;
}

.nav-tabs .nav-link:focus {
    border-bottom: none;
    color: #6495ed;
    border-color: #6495ed;
}

.nav-tabs .nav-item.show .nav-link {
    background-color: #6495ed;
    border-color: #372a7c;
    color: #372a7c;
}

#header {
    font-family: 'Merriweather', serif;
    font-size: 55px;
    font-weight: normal;
    padding-right: 40px;
    padding-left: 53px;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 500px;
    display: block;
    color: #ffffff
}

.home-image {
    max-width: 100%;
    margin: auto;
}

.about-img {
    width: 100%;
    height: 100%;
}

.fa-facebook {
    color: #4267b2;
}

.fa-github-square {
    color: #28a745;
}

.fa-linkedin {
    color: #0084bf;
}

.wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "info message";
    display: grid;
}

.info {
    grid-area: info;
    display: block;
}

.message {
    grid-area: message;
    display: block;
}

.btn-primary {
    background-color: #6495ed;
    border-color: #6495ed;
    color: #372a7c;
}

.btn-primary:hover {
    color: #372a7c;
    background-color: #5077BD;
    border-color: #5077BD;
}

textarea {
    resize: none;
}